extends layout

block content

  
  script(src="javascripts/makeGames.js" type="text/babel")
  script.
    var gamedata = !{gamesjson};
  table.buttons
    tr
      td#buttonPrev
      td#weekText
      td#buttonNext
  div(id="MåndagTop")
    div(id="MåndagText")
    div(id="MåndagGames")
  div(id="TisdagTop")
    div(id="TisdagText")
    div(id="TisdagGames")
  div(id="OnsdagTop")
    div(id="OnsdagText")
    div(id="OnsdagGames")
  div(id="TorsdagTop")
    div(id="TorsdagText")
    div(id="TorsdagGames")
  div(id="FredagTop")
    div(id="FredagText")
    div(id="FredagGames")
  div(id="LördagTop")
   div(id="LördagText")
   div(id="LördagGames")
  div(id="SöndagTop")
    div(id="SöndagText")
    div(id="SöndagGames")
  div(id="gamearea")
  
