extends layout

block content

  script(src="/javascripts/indexscript.js")
  script.
    var gamedata = !{gamesjson};
  table.buttons
    tr
      td#buttonPrev
      td -
      td#buttonNext
  div(id="gamearea")
  
