extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each val in games
      ul.game
        li= val.date.toDateString()
        li= val.homeTeamName + " " + val.homeTeamScore + " - " + val.awayTeamScore + " " + val.awayTeamName
