body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gameday {
  font-size: 24px;
}

#gamearea {
  font-size: 20px;
  align-self: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nogames {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#weekText {
  font-size: 24px;
  width: 34%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

a {
  color: #00B7FF;
}

i {
  height: 15px;
  width: 15px;
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.game {
  padding: 20px;
  list-style-type: none;
  margin: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;

}

.prevnextbutton {
  padding: 18px 18px 18px 24px;
  display: block;
  margin: auto;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16 px;
  transition: background-color .3s;

}

.buttons {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

button:focus {
  outline: 0;
}

.prevnextbutton:hover {
  transition: background-color .3s;
  border-radius: 50%;
  background-color: #f1f1f1;
  color:black;
}

.centerdash {
  text-align: center;
  vertical-align: middle;
}

.gameul {
  list-style: none;
}

#center {
  alignment: center;
}

.teampic {
  width: 10%;
}

.teamname {
  width: 20%;

}

.teamscore {
  width: 5%;

}

.date{
  width: 10%;

}

#buttonPrev {
  align-self: center;
  width: 33%;
}

#buttonNext {
  align-self: center;
  width: 33%;
}
