body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.game {
  padding: 20px;
  background: #d3d3d3;
  list-style-type: none;
  margin: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 100%;

}

.centerdash {
  text-align: center;
  vertical-align: middle;
}

.gameul {
  list-style: none;
}

#center {
  alignment: center;
}

.teampic {
  width: 10%;
}

.teamname {
  width: 20%;

}

.teamscore {
  width: 5%;

}

.date{
  width: 10%;

}
